appdirs==1.4.4
asgiref==3.2.10
distlib==0.3.1
Django==3.0.7
django-filter==2.3.0
django-simple-history==2.10.0
django-tenants==3.2.1
filelock==3.0.12
hypothesis==5.16.0
model-bakery==1.1.0
ortools==7.8.7959
Pillow==8.0.1
protobuf==3.13.0
psycopg2==2.8.5
Pyomo==5.7.1
pytz==2020.1
selenium==3.141.0
six==1.15.0
sortedcontainers==2.2.2
sqlparse==0.3.1
urllib3==1.25.10
virtualenv==20.2.1
